.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.pytest_cache/
.vscode/
**/__pycache__/
**/*.pyc
backend/*.db
backend/.env
backend/venv/
frontend/.packages
frontend/build/
frontend/.dart_tool/
frontend/**/*.g.dart
frontend/**/*.freezed.dart
docs/
prints/